<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%-include('parts/dashboard-head') %>
<body>
    <div class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <div class="d-flex">
        <%-include('parts/sidebar') %>
        <div class="container-md p-5 large-box">
          <% if(added) { %>
            <p class="alert alert-success">
               تم إضافة المدرسة القرآنية بنجاح
            </p>
          <% } %>
           <div class="d-flex align-items-center gap-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-plus-fill  text-success" viewBox="0 0 16 16">
                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0z"/>
              </svg>
            <h2>إضافة مدرسة قرآنية</h2>
           </div>
            <form action="addschool" class="was-validated" method="post">
                <div class="mb-3 mt-3 col-md-4">
                  <label for="teacher" class="form-label">اسم المستخدم :</label>
                  <select class="form-select" id="teacher" name="teacher" required>
                    <option value="">اختر اسم مستخدم</option>
                </select>
                  <div class="valid-feedback">تمام</div>
                  <% if(typeof errors != 'undefined'){ %>
                  <% let usernameError = errors.find(err => err.param === 'teacher') %>
                  <% if (usernameError) { %>
                      <div class="invalid-feedback">
                          <%= usernameError.msg %>
                      </div>
                  <% } %>
                  <% } %>
                </div>
                <div class="mb-3 mt-3 col-md-4">
                  <label for="name" class="form-label">المدرسة القرآنية:</label>
                  <input type="text" class="form-control " id="name" placeholder="أدخل اسم المدرسة القرآنية" name="name" required>
                  <div class="valid-feedback">تمام</div>
                  <% if(typeof errors != 'undefined'){ %>
                    <% let nameError = errors.find(err => err.param === 'name') %>
                    <% if (nameError) { %>
                        <div class="invalid-feedback">
                            <%= nameError.msg %>
                        </div>
                  <% } %>
                  <% } %>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="daira" class="form-label">الدائرة</label>
                        <select class="form-select" id="daira" name="daira" required>
                            <option selected disabled value="">اختر دائرة</option>
                        </select>
                        <% if(typeof errors != 'undefined'){ %>
                          <% let dairaError = errors.find(err => err.param === 'daira') %>
                          <% if (dairaError) { %>
                              <div class="invalid-feedback">
                                  <%= dairaError.msg %>
                              </div>
                          <% } %>
                          <% } %>
                    </div>
                    <div class="col-md-4">
                        <label for="commune" class="form-label">البلدية</label>
                        <select class="form-select" id="commune" name="commune" required>
                            <option selected disabled value="">اختر بلدية</option>
                        </select>
                        <% if(typeof errors != 'undefined'){ %>
                          <% let communeError = errors.find(err => err.param === 'commune') %>
                          <% if (communeError) { %>
                              <div class="invalid-feedback">
                                  <%= communeError.msg %>
                              </div>
                        <% } %>
                        <% } %>
                    </div>
                    <div class="col-md-4">
                        <label for="street" class="form-label">العنوان</label>
                        <input type="text" class="form-control" id="street" name="street" placeholder="(اختياري)أدخل عنوان المدرسة القرآنية" name="uname" >
                    </div>
                </div>
              <button type="submit" class="btn btn-primary mb-3 mt-3">إضافة</button>
              </form>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="/js/addschool.js"></script>
</html>