extends layout 
block content
    -const studentsList = students || [{fullName : "سيد احمد بن دومة",_id:1}]
    -const schoolName = name || "المدرسة القرانية"
    -const schoolDaira = daira ? " - "+daira : ""
    -const teachersList = teachers || []
    //{fullName : "سيد احمد بن دومة",_id:2}
    -const stats = stat || {nStudents : 0 , nMales : 0 , nFemales : 0 , nTeachers : 0}
    section.school-infos.py-5.position-relative
        .school-infos__wrapper.position-relative.py-5
            .container-lg  
                h1.school-name.text-white.py-4 مدرسة #{schoolName}#{schoolDaira}
                .row.mb-4 
                    .col-sm-6.col-lg-3
                        .card.statistics_card.mb-3
                            .statistics_card__stats.py-3
                                p.statistics_card__title.fw-bold عدد الطلبة
                                p.statistics_card__number.h2#nbr-students= stats.nStudents
                            .statistics_card__icon.bg-tertiary.text-center
                                img.opacity-50(src="/assets/students-cap.png", alt="students cap icon" width="100")
                    .col-sm-6.col-lg-3
                        .card.statistics_card.mb-3
                            .statistics_card__stats.py-3
                                p.statistics_card__title.fw-bold عدد الذكور
                                p.statistics_card__number.h2#nbr-males= stats.nMales
                            .statistics_card__icon.bg-tertiary.text-center
                                img.opacity-50(src="/assets/male_icon.png", alt="students cap icon" width="90")
                    .col-sm-6.col-lg-3
                        .card.statistics_card.mb-3
                            .statistics_card__stats.py-3
                                p.statistics_card__title.fw-bold عدد الاناث
                                p.statistics_card__number.h2#nbr-females= stats.nFemales
                            .statistics_card__icon.bg-tertiary.text-center
                                img.opacity-50(src="/assets/female.png", alt="students cap icon" width="100")
                    .col-sm-6.col-lg-3
                        .card.statistics_card.mb-3
                            .statistics_card__stats.py-3
                                p.statistics_card__title.fw-bold عدد المدرسين
                                p.statistics_card__number.h2#nbr-teachers= stats.nTeachers
                            .statistics_card__icon.bg-tertiary.text-center
                                img.opacity-50(src="/assets/teachers_icon.png", alt="students cap icon" width="90")
    section.school-list-infos.py-5 
        .school-infos__wrapper.py-5
            .container-lg
                .search-input-wrapper.d-flex.justify-content-between.align-items-center 
                    input#search-by-name.form-control.mx-auto.shadow(type='search' placeholder='بحث' aria-label='Search')
                .students-list.py-3 
                    h2.students-list__title.text-center.my-5 لائحة الطلبة
                    .students-list__wrapper
                    -if(studentsList.length > 0)
                        each student of studentsList 
                            .student-card.shadow-sm.d-flex.justify-content-between.align-items-center.p-2.mb-3(data-id=`${student._id}`) 
                                p.student-name.m-0.ml-1= student.fullName 
                                .controllers-wrapper 
                                    button.get-student-infos.btn.btn-primary.ms-2(data-bs-toggle='modal' data-bs-target='#staticBackdrop') معلومات
                                    button.remove-student.btn.btn-outline-danger  احالة
                    -else 
                        p.h3.text-center.opacity-25 لا يوجد طلبة
                .teachers-list.py-3
                    h2.teachers-list__title.text-center.my-5 لائحة المدرسين
                    ul.teachers-list__wrapper.px-0
                        -if(teachersList.length > 0)
                            each teacher of teachersList 
                                li.teachers-card.shadow-sm.d-flex.justify-content-between.align-items-center.p-2.mb-3(data-id=`${teacher._id}` data-fullName=`${teacher.fullName}`) 
                                    p.teachers-name.m-0.ml-1= teacher.fullName 
                                    .controllers-wrapper 
                                        button.get-teacher-infos.btn.btn-primary.ms-2(data-bs-toggle='modal' data-bs-target='#staticBackdrop' data-title="معلومات" data-def="get-teacher-infos") معلومات
                                        button.remove-teacher.btn.btn-danger  احالة
                        -else 
                            p.h3.text-center.opacity-25 لا يوجد مدرسين
    #staticBackdrop.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.flex-row-reverse
                    h1#staticBackdropLabel.modal-title.fs-5 Modal title
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
    script(src="/js/teachersPage.js") 